<%- include('partials/header') %>

<!-- Main Content -->
<main class="container py-4">
  <!-- Questions Section -->
  <div class="container">
    <h1>Questions</h1>
    <div class="row">
      <% questions.forEach(function(question) { %>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div
          class="card mb-3 question-card"
          data-question-id="<%= question.id %>"
        >
          <div class="card-header bg-primary text-white">
            <h5 class="card-title"><%= question.title %></h5>
          </div>

          <div class="card-body">
            <p class="card-text"><%= question.description %></p>
          </div>
        </div>
        <a href="/questions/<%= question._id %>" class="stretched-link"></a>
      </div>
      <% }) %>
    </div>
  </div>

  <!-- Sidebar -->
  <!-- <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3>Hot Tags</h3>
        <hr />
        <div class="tags">
          <a href="#" class="badge bg-primary">Bootstrap</a>
          <a href="#" class="badge bg-primary">CSS</a>
          <a href="#" class="badge bg-primary">JavaScript</a>
          <a href="#" class="badge bg-primary">PHP</a>
          <a href="#" class="badge bg-primary">React</a>
          <a href="#" class="badge bg-primary">Node.js</a>
        </div>
      </div>
    </div>
  </div> -->
</main>
<%- include('partials/footer') %>
